{% extends "base.html.twig"  %}
{% set page = 'app' %}
{% block title %}{{ app.name }} - App - XIVAPI{% endblock %}

{% block body %}
<div class="apps">
    <aside>
        {% include 'app/nav.html.twig' %}
    </aside>
    <main>

        {% if message %}<div class="success">{{ message }}</div>{% endif %}

        <nav>
            <a href="{{ path('app_manage', { id: app.id }) }}">Manage</a>
            <a href="{{ path('app_analytics', { id: app.id }) }}">Analytics</a>
        </nav>

        <div class="fr">
            <a href="{{ path('app_delete', { id: app.id }) }}">DELETE</a>
        </div>

        <h1>{{ app.name }}</h1>

        <br>

        {# App is new! #}
        {% if app.new %}
        <div class="warning">
            <h3>New App!</h3>
            <p>
                This is your brand new shiney developer app. Your app is currently in a "new" state
                which lasts ~2 hours from creation. During this time it will have reduced rate limit that
                will allow you to play around with the API and get to grips with things. After that
                your rate limit will increase over time as the system feels comfortable with your usage.
                <br><br>
                If you need any help, be sure to hop onto the Discord!
            </p>
        </div>
        {% endif %}

        {# App is banned #}
        {% if app.banned %}
        <div class="banned">
            <h3>Banned</h3>
            <p>
                Sorry to say this app key has been banned. Please jump onto discord to talk to a moderator
                or send a direct message to Vekien for help in resolving this!
                <br><br>
                <strong>Reason:</strong> {{ app.notes }}
            </p>
        </div>
        {% endif %}

        {# App Pages #}
        {% block page %}{% endblock %}

    </main>
</div>

{% endblock %}
