{% extends 'app/app.html.twig' %}

{% block page %}

<div class="apps-key">
    <h2>{{ app.apiKey }}</h2>
    <div>
        <strong>Example usage</strong>
        <div>$ <span>curl</span> https://xivapi.com/item/1675?key={{ app.apiKey }}</div>
    </div>
</div>

<div class="apps-regen">
    <p>Need to regenerate your key?</p>
    <a href="{{ path('app_regenerate', { id: app.id }) }}" class="btn btn-warning">Regenerate key</a>
</div>

<br><br>

{{ form_start(form) }}
<div class="apps-form">
    <div>
        <label for="name">Name</label>
        {{ form_row(form.name) }}
    </div>
    <div>
        <label for="desc">Description</label>
        {{ form_row(form.description) }}
    </div>
    <div>
        <label>Rate Limit</label>
        <section>
            <strong>{{ app.apiRateLimit }}</strong> per second,
            burst: <strong>{{ (app.apiRateLimitBurst) }}</strong>
        </section>
        <section>
            <small>Rate limit is per (hashed) IP request</small>
        </section>
        <section>
            <small style="font-size: 13px;">
                <strong>Need higher rate-limit?</strong>
                Please jump on the <a href="https://discordapp.com/invite/MFFVHWC" target="_blank">discord server</a>
                and give <strong>Vekien#3458</strong> a message.
            </small>
        </section>
    </div>
    <div>
        {{ form_row(form.save) }}
    </div>
</div>
{{ form_end(form) }}

{% endblock %}
