{% extends "base.html.twig"  %}
{% set page = 'app' %}
{% block title %}Mappy - {{ app.name }} - App - XIVAPI{% endblock %}

{% block body %}
<div class="two-pane">
    <aside>
        {% include 'app/nav.html.twig' %}
    </aside>
    <main class="nomax">
        <h1>
            {{ app.name }}
            <div class="fr">
                <a href="{{ path('app_delete', { id: app.id }) }}" class="btn btn-danger">DELETE APPLICATION</a>
            </div>
        </h1>

        <br>

        <div>
            <a href="{{ path('app_manage', { id: app.id }) }}" class="btn btn-outline-primary">Application</a>
            &nbsp;&nbsp;&nbsp;
            <a href="{{ path('app_manage_map', { id: app.id }) }}" class="btn btn-primary">Mapping Data</a>
        </div>

        <br>

        <p>
            You can find information on Map Data via the documentation: <a href="/docs/MapData">/docs/MapData</a>
            including how to download all mapped data.
        </p>

        {% if allowed %}

            <ul class="list-group">
                <li class="list-group-item">
                    All "Maps" will be listed, however some (eg Eorzea, regions) cannot be
                    mapped for obvious reasons! Please mark un-mappable areas as "Complete" with a little
                    note stating this is the case.
                </li>
                <li class="list-group-item">
                    Maps that have multiple floors will have individual "MapID's", you can see the individual
                    floors below in the Area column, open each one in a new browser tab to monitor.
                </li>
                <li class="list-group-item">
                    Some maps can have the same name but be used differently
                    in-game such as a map dedicated to the MSQ vs Open-World. On the mapp if you
                    open the map viewer you can see the MapID at the top-left, match this with the ID here.
                </li>
            </ul>

            <br>

            <h4><strong>List Filters</strong></h4>
            <p>
                <a href="{{ path('app_manage_map', { id: app.id }) }}" class="btn btn-sm btn-dark">Show only to-do maps</a>
                <a href="{{ path('app_manage_map', { id: app.id, completed: true }) }}" class="btn btn-sm btn-dark">Include completed maps</a>
            </p>

            {% for regionId, regionName in regions %}

                <h3><strong>{{ regionName }}</strong></h3>
                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th width="5%">ID</th>
                            <th width="30%">PlaceName</th>
                            <th width="30%">Area - Zone</th>
                            <th width="15%">Pos Count</th>
                            <th width="15%">URL</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for place in maps[regionId] if (not mapsCompleted[place.ID] or showCompleted) %}
                        <tr>
                            <td><code>{{ place.ID }}</code></td>
                            <td>
                                {% if  place.Positions > 0 %}
                                    <strong>[IN-PROGRESS]</strong>
                                    &nbsp;&nbsp;
                                {% endif %}
                                <strong>{{ mapsCompleted[place.ID] ? '✔' : '' }}</strong>
                                <a href="{{ path('app_manage_map_view', { id: app.id, map: place.ID }) }}">{{ place.PlaceName.Name }}</a>
                            </td>
                            <td>
                                {{ place.PlaceNameSub.Name ? place.PlaceNameSub.Name ~ ", " : '' }} {{ place.Zone.Name }}
                            </td>
                            <td>{{ place.Positions|number_format }}</td>
                            <td>
                                <a href="{{ place.Url }}" target="_blank">{{ place.Url }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% endfor %}

            <br>

        {% else %}
        <div class="alert alert-warning">
            <h2>No Access</h2>
            At this time the mapping app is private as it sends a lot of data
            to XIVAPI and needs special attention. If you are interested in adding map
            data to XIVAPI then please message @vekien on the Discord chat :)
        </div>
        {% endif %}
    </main>
</div>

{% endblock %}
