{% extends "base.html.twig"  %}
{% set page = 'account' %}
{% block title %}{{ auth.online ? auth.user.username : 'Hi' }} - Dev Account - XIVAPI{% endblock %}

{% block body %}
    {% if auth.user %}
        <div class="account">
            {# User banned #}
            {% if auth.user.banned %}
            <div class="account-banned">
                <h2>Account Banned</h2>
                <p>
                    Sorry to say your account has been banned.
                </p>
                <p>
                    Your API Key will no longer work, if you wish to use the API you can do so without a
                    key which will be subject to IP Rate-Limit. For information on your ban, please contact either an
                    Admin or Moderator of the XIVAPI Discord. Please understand that a ban is not permanent,
                    nore is it personal. The ban could have been issued by the system automatically based on
                    API behaviour or it could be a decision based on analytics showing crawling or unusual activity.
                </p>
                <p>
                    This ban will also affect all user functionality on Mogboard.com including alerts, lists
                    and the ability to login.
                </p>
                Regards, -PV
            </div>
            {% endif %}

            {# Account information #}
            <h1>Account</h1>
            <div class="account-panel">
                <table>
                    <tr>
                        <td width="30%">Username</td>
                        <td>{{ auth.user.username }}</td>
                    </tr>
                    <tr>
                        <td>Sign-On Service</td>
                        <td>
                            {{ auth.user.sso|title }}
                            <small style="margin-bottom:0;">Expires: {{ auth.user.ssoDiscordTokenExpires|date }}</small>
                        </td>
                    </tr>
                    <tr>
                        <td>Joined</td>
                        <td>{{ auth.user.added|date }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ auth.user.email }}</td>
                    </tr>
                    <tr>
                        <td>Avatar</td>
                        <td><img src="{{ auth.user.avatar }}"></td>
                    </tr>
                </table>

                <div class="account-logout">
                    Ready to leave? <a href="{{ path('account_logout') }}" class="btn-logout">Logout</a>.
                </div>
            </div>

            {# API Information #}
            <h1>API Access</h1>
            <div class="account-panel">
                <table>
                    <tr>
                        <td width="30%">API Key</td>
                        <td>
                            <code class="box">{{ auth.user.apiPublicKey }}</code>
                            <br>

                            {% if auth.user.banned %}
                                <p>API Key will not work due to banned status.</p>
                            {% else %}
                                <div>
                                    <a href="{{ path('account_regen_key') }}">Re-Generate API Key</a>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>How to use</td>
                        <td>
                            <p>
                                If you are writing purely front-end applications where the users
                                will be interacting with XIVAPI (eg via JavaScript) then you do
                                not need an API Key. If you are using XIVAPI behind a server
                                (and thus a static IP) you will need an API key to avoid hitting API limits.
                            </p>
                            <p>
                                Append the key onto the URL using the param: <code>private_key</code>.
                            </p>
                            <br>
                            <code class="box">
                                https://xivapi.com/item/1675?private_key={{ auth.user.apiPublicKey }}
                            </code>
                            <br>
                            For more information, please view the <a href="{{ path('docs') }}">Documentation</a>.
                        </td>
                    </tr>
                    <tr>
                        <td>Rate Limits</td>
                        <td>
                            <p>Your rate limit is specific to your account and may be adjusted automatically based on usage.</p>

                            <div class="rate-limits">
                                <table>
                                    <tr>
                                        <td width="30%">API KEY</td>
                                        <td><em>{{ auth.user.apiRateLimit }}</em> / sec</td>
                                    </tr>
                                    <tr>
                                        <td>User IP </td>
                                        <td><em>{{ api_key_limits.MAX_RATE_LIMIT_GLOBAL }}</em> / sec</td>
                                    </tr>
                                    <tr>
                                        <td>Lodestone</td>
                                        <td><em>1</em> / sec</td>
                                    </tr>
                                </table>
                            </div>

                            <p class="account-note">
                                <strong>IMPORTANT</strong> Just because you have X/second rate limit does not mean
                                you should be hitting the service consistently for X/second, this rate is set so that
                                should you have bursts you don't automatically get a request denied. A consistent
                                usage of your rate limit at the maximum value will likely trigger the system
                                into automatically banning you.
                                <br><br>
                                Think about your implementation and decide
                                if things can be cached, queried less or ask for support on the discord.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>Notes</td>
                        <td>
                            <p>
                                API keys have limited request-counts to some endpoints that add content,
                                these include:
                            </p>
                            <ul>
                                <li><code>/character/[lodestone_id]</code></li>
                                <li><code>/freecompany/[lodestone_id]</code></li>
                                <li><code>/linkshell/[lodestone_id]</code></li>
                                <li><code>/pvpteam/[lodestone_id]</code></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Google Analytics Key</td>
                        <td>
                            <form method="post" action="{{ path('account_save_google_analytics_id') }}">
                                <p>
                                    Enter a Google Analytics Tracking ID to receive real-time hits and events.
                                </p>
                                <div class="form-row">
                                    <input type="text" class="input-full" id="google_analytics_key" name="google_analytics_key" value="{{ auth.user.apiAnalyticsKey }}">
                                </div>
                                <div>
                                    <button type="submit">Save Tracking ID</button>
                                </div>
                            </form>
                            <br>
                            <p>The following information is tracked:</p>
                            <ul>
                                <li>Endpoint Per Request</li>
                                <li>Endpoint Paths</li>
                                <li>Language</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    {% else %}
        Plz Login
    {% endif %}
{% endblock %}
