{% extends "admin/base.html.twig"  %}

{% block title %}Admin{% endblock %}

{% block body %}

    {% for account, accountServers in token_servers %}
        <h3>{{ account }}</h3>
        <table class="table table-bordered">

            {% for server in valid_servers %}
            <tr>
                <td width="30%">{{ server }}</td>
                <td width="30%" class="{{ server in accountServers ? 'text-success' : 'text-danger' }}">
                    <strong>{{ server in accountServers ? 'OK' : 'NO CHARACTER' }}</strong>
                </td>
                <td>
                    {% for dcName, dcServers in datacenter %}
                        {% if server in dcServers %}{{ dcName }}{% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}

        </table>
    {% endfor %}

{% endblock %}
