{% extends "base.html.twig"  %}

{% block title %}Admin - XIVAPI{% endblock %}

{% block body %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

    <div class="account">
        <h1>Critical Status</h1>
        <p>
            {{ status.state.now ?: '0' }} / {{ status.state.max }} -
            {{ status.at_critical ? 'Currently at critical state, system may pause' : 'System running under expected levels.' }}
        </p>
        <br><br>
        <p>
            Last error: {{ status.last_error.Added|date('H:i:s Y-m-d', "Europe/London") }}
        </p>

        <br><hr><br>

        <h1>Companion Error Rate</h1>
        <div style="width: 100%; height: 250px;">
            <canvas id="myChart" width="400" height="250"></canvas>
        </div>
        <script>
            let ctx = document.getElementById('myChart').getContext('2d');
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{ errorGraph.keys|json_encode|raw }},
                    datasets: [{
                        label: 'Errors',
                        data: {{ errorGraph.values|json_encode|raw }},
                        borderColor: 'rgb(244, 209, 66)',
                        backgroundColor: 'rgba(244, 209, 66, 0.3)',
                        borderWidth: 2,
                        pointRadius: 0,
                        lineTension: 0
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    tooltips: {
                        displayColors: false,
                        intersect: false,
                        tooltips: {
                            mode: 'nearest',
                            intersect: true
                        },
                        titleFontSize: 12,
                        titleMarginBottom: 5,
                        titleFontColor: "rgba(80, 80, 80, 1)",
                        bodyFontSize: 15,
                        bodyFontStyle: "bold",
                        bodyFontColor: "rgba(255, 255, 255, 1)",
                        footerFontSize: 13,
                        footerFontColor: "rgba(160, 160, 160, 1)",
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>

        <br><br>

        <h1>Exception Counts</h1>
        <table class="table">
            <thead>
            <tr>
                <th width="30%">Exception</th>
                <th>Count</th>
            </tr>
            </thead>
            <tbody>
            {% for ex, count in errors.exceptions %}
                <tr>
                    <td><strong>{{ ex }}</strong></td>
                    <td>{{ count|number_format }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br><Br>

        <h1>Error log</h1>
        <table class="table">
            <thead>
            <tr>
                <th width="20%">Time</th>
                <th width="5%">Code</th>
                <th width="25%">Exception</th>
                <th>Message</th>
            </tr>
            </thead>
            <tbody>
            {% for error in errors.list|slice(0, 100) %}
                <tr>
                    <td>{{ error.Added|date('Y-m-d H:i:s', "Europe/London") }}</td>
                    <td>{{ error.Code }}</td>
                    <td>{{ error.Exception }}</td>
                    <td>{{ error.Message }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>



{% endblock %}
