{% extends "docs/index.html.twig"  %}
{% import "docs/macros.html.twig" as docs %}
{% set section = 2 %}

{% block doc %}

    <h1>API &amp; Developer Keys</h1>

    <p>
        To use the API you must have a valid developer key. This is appended onto any requests
        either via the url or as part of your JSON payload. An API will provide you with your
        rate-limiting and allow you access to the entire API.
    </p>

    <p style="font-size: 20px; color: #16a23d;">
        You can get a key from: <a href="{{ path('app') }}">Apps</a>
    </p>

    <br>

    <h4>Usage</h4>
    <p>You can use it in the url as a GET param:</p>
    <code class="box">
        https://xivapi.com/item/1675?<em>key=a1b2c3d4e5f6g7h8</em>
    </code>

    <p>If you are requesting other fields then all fields need to be seperated with an and symbol: <code>&</code>, with
    the start of the request using a question mark <code>?</code></p>

    <p>For example if you are searching for an item and using your key, your request url might look like this:</p>
    <code class="box">
        https://xivapi.com/item/1675?<em>string=ifrit</em>&<em>key=a1b2c3d4e5f6g7h8</em>
    </code>

    <p>You can also pass it as a JSON payload</p>
    <code class="box">
        <pre>{
    key: <em>"a1b2c3d4e5f6g7h8"</em>
}</pre>
    </code>

    {{ docs.gap() }}

    <h4>Rate Limiting</h4>
    <p>
        The API will deny requests that go above your rate limit. A new key will have a limited
        amount of requests for the first 2 hours and then it will be bumped up over time.
    </p>
    <p>
        It is important you keep an eye on your API usage. The system will monitor your API usage over time
        and depending on thresholds met your key could reduce in rate limit or be automatically banned. If your
        key and even your account happens to get banned then please jump onto the Discord and talk to
        a moderator, or DM Vekien. Bans are nothing personal and are simply a way to make sure a code fault
        or an unexpected issue doesn't ruin the whole system for everyone. I will work with you to get things resolved.
    </p>

    <table>
        <tbody>
        <tr>
            <td width="25%"><strong>Limited</strong></td>
            <td>2 requests a second</td>
        </tr>
        <tr>
            <td><strong>Full</strong></td>
            <td>10 requests a second</td>
        </tr>
        <tr>
            <td colspan="2">
                <small>If you need more, please talk to <strong>@vekien</strong> on Discord.</small>
            </td>
        </tr>
        </tbody>
    </table>

    {{ docs.gap() }}

    <h4>Burst</h4>
    <p>
        Your burst is appended onto your rate limit until you hit your burst then it will reduce
        to 0. Once 5 seconds of no BURST traffic has occurred from the same source your burst will return as normal.
    </p>
    <p>To illustrate this, Imagine these requests with a 5/req/second limit with a 5 burst:</p>
    <div class="rate-limit-example">
        <div>Request 1 &nbsp;@ 0 second - OK</div>
        <div>Request 2 &nbsp;@ 0 second - OK</div>
        <div>Request 3 &nbsp;@ 0 second - OK</div>
        <div>Request 4 &nbsp;@ 0 second - OK</div>
        <div>Request 5 &nbsp;@ 0 second - OK</div>
        <div>Request 6 &nbsp;@ 0 second - OK  - Burst</div>
        <div>Request 7 &nbsp;@ 0 second - OK  - Burst</div>
        <div>Request 8 &nbsp;@ 0 second - OK  - Burst</div>
        <div>Request 9 &nbsp;@ 0 second - OK  - Burst</div>
        <div>Request 10 @ 0 second - OK  - Burst</div>
        <div>Request 11 @ 0 second - Rate Limited</div>
        <div>Request 12 @ 1 second - OK</div>
        <div>Request 13 @ 1 second - OK</div>
        <div>Request 14 @ 1 second - OK</div>
        <div>Request 15 @ 1 second - OK</div>
        <div>Request 16 @ 1 second - OK</div>
        <div>Request 17 @ 1 second - Rate Limited</div>
        <div>Request 18 @ 1 second - Rate Limited</div>
        <div>Request 19 @ 1 second - Rate Limited</div>
        <div>Request 20 @ 1 second - Rate Limited</div>
    </div>

    {{ docs.gap() }}

    <h4>Google Analytics</h4>
    <p>
        The API allows you track your requests using Google Analytics, this provides you all
        the nice real-time, historic hits and event tracking out the box.
    </p>
    <p>
        Create a new property in your Google Analytics and attach the Tracking ID to your app dashboard.
    </p>

    {{ docs.gap() }}

    <h4>Crawling and misuse</h4>

    <p>
        Do you want all the data? Fancy crawling the API? Rip the lot!
    </p>
    <p>
        Step back. Don't. Your account will be banned without any warning. If you want all the data
        then it's all available to you, you have the game installed right!? Rip all the data
        from your game files! There are systems in place to automatically ban or reduce API keys that
        have unexpected excessive usage.
    </p>
    <p>
        To get started with datamining, visit: <a href="https://github.com/viion/ffxiv-datamining">viion/ffxiv-datamining</a> on Github
    </p>

{% endblock %}
