{% extends "docs/index.html.twig"  %}
{% import "docs/macros.html.twig" as docs %}
{% set section = 9 %}


{% block doc %}

    <h1>Character</h1>

    <p>
        Search and retrieve character data from The Lodestone. Providing useful information
        such as character profile data, minions and mounts obtained, achievements obtained and their relative
        dates. Character friends, their free company, pvp team and much more!
    </p>

    <br>

    {{ docs.lodestoneErrors() }}

    <br><br>

    {# Search #}
    {{ docs.api('/character/search', '/character/search?name=[name]&server=[server]', 'search') }}

    {{ docs.commonParamsSearch() }}

    {{ docs.gap() }}

    {# GET #}
    {{ docs.api('/character/[lodestone_id]', '/character/730968', 'character') }}
    <p>
        Get Character data, this is parsed straight from Lodestone in real-time. The more data you request
        the slower the entire request will be. AC and FCM are done asynchronously.
    </p>

    <h4>Params</h4>

    <table class="param-table">
        <thead>
        <tr>
            <th width="25%">Param</th>
            <th width="75%">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>extended</td>
            <td>If set to 1, the API will return more data in the response by extending out the data IDs to useful objects.</td>
        </tr>
        <tr>
            <td>data</td>
            <td>

                <p>By default the `Character`, `ClassJobs`, `Minion` and `Mount` data will return, you can request more data using the `data` query.</p>

                <h6>data</h6>
                <code>
                    {{ app.request.getSchemeAndHttpHost() }}/character/730968?data=AC,FR,FC,FCM,PVP
                </code>
                <p>Pass a long a comma separated list of codes that relate to specific data sets you would like
                    to fetch, these are as follows:</p>

                <table class="mini-table param-table">
                    <tbody>
                    <tr>
                        <td>AC</td>
                        <td>Achievements</td>
                    </tr>
                    <tr>
                        <td>FR</td>
                        <td>Friends List</td>
                    </tr>
                    <tr>
                        <td>FC</td>
                        <td>Free Company</td>
                    </tr>
                    <tr>
                        <td>FCM</td>
                        <td>Free Company Members</td>
                    </tr>
                    <tr>
                        <td>MIMO</td>
                        <td>Mounts & Minions</td>
                    </tr>
                    <tr>
                        <td>PVP</td>
                        <td>PVP Team</td>
                    </tr>
                    </tbody>
                </table>

            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}
