{% extends "docs/index.html.twig"  %}
{% import "docs/macros.html.twig" as docs %}
{% set section = 20 %}
{% set accountCosts = 100 %}

{% block doc %}

    <h1>Costs</h1>

    <p>
        Below are the costs for <strong>XIVAPI</strong> &amp; <strong>MogBoard</strong>,
        to be fully transparent in what patreon money goes towards the below prices
        are updated in real-time against any server infrastructure changes.
    </p>

    <h2>Patreon Support!</h2>
    <p>
        By contributing a small amount every month you support development on XIVAPI and Mogboard.com
        - You'll receive perks for both sites, recognition on discord and appreciation from the devs heart!
    </p>
    <p>
        <a href="https://www.patreon.com/bePatron?u=13230932" target="_blank">
            <img src="https://c5.patreon.com/external/logo/become_a_patron_button.png">
        </a>
    </p>

    <br>

    <h2>Total Monthly Cost: <strong>${{ vultr.total + digitalocean.total + accountCosts }}</strong></h2>

    <h4>Digital Ocean</h4>
    <p>
        Hosts the main site (xivapi.com) as well as Search and Market Data
    </p>

    <h4>Vultr</h4>
    <p>
        Lodestone tracking and auto-parsing servers (Characters, FC, LS and PVP Teams), these
        are on Vultr as Tokyo servers are required.
    </p>

    <h4>Companion Accounts</h4>
    <p>
        In order to provide market data, I have to have <strong>several</strong> accounts paid every month.
        To cover these, a $100 has been added to the costs. To avoid giving away too much information about
        how the system works, the exact number can't be informed.
    </p>

    <br><br>

    <table>
        <thead>
            <tr>
                <th>Digital Ocean</th>
                <th>Vultr</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p>Servers</p>
                    <ul>
                        {% for price in digitalocean.servers %}
                            <li><strong>${{ price.cost }}</strong> - {{ price.name }}</li>
                        {% endfor %}
                    </ul>
                    <br>

                    <p>Volumes</p>
                    <ul style="margin-bottom: 0;">
                        {% for price in digitalocean.volumes %}
                            <li><strong>${{ price.cost }}</strong> - {{ price.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <p>Servers</p>
                    <ul>
                        {% for price in vultr.servers %}
                        <li><strong>${{ price.cost }}</strong> - {{ price.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <br>

    <table>
        <thead>
        <tr>
            <th>SE Accounts</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <ul style="margin-bottom: 0;">
                    <li>~$100 / month</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}
