{% extends "docs/index.html.twig"  %}
{% import "docs/macros.html.twig" as docs %}
{% set section = 13 %}

{% block doc %}

    <h1>Lodestone</h1>

    <p>
        Returns information from the official "The Lodestone" website:
        <a href="https://na.finalfantasyxiv.com/lodestone/">https://na.finalfantasyxiv.com/lodestone/</a>
    </p>

    <p class="note">
        At this time only the NA Lodestone is being parsed,
        therefore the <code>?language=X</code> query will not effect the output.
        Work is in progress to add multi-language support.
    </p>

    <br><br>

    {# Main #}
    {{ docs.api('/lodestone', '/lodestone') }}
    <p>
        Returns a cached (every 15 minutes) collection of information from the
        Lodestone endpoints, it is highly recommended to query this endpoint instead
        of all others as it contains a majority of the data and it will return instantly.
    </p>

    <h4>Included data</h4>
    <table class="mini-table param-table">
        <tbody>
            <tr>
                <td>Banners</td>
                <td>News</td>
                <td>Topics</td>
                <td>Notices</td>
                <td>Maintenance</td>
            </tr>
            <tr>
                <td>Updates</td>
                <td>Status</td>
                <td>World Status</td>
                <td>Dev Blog</td>
                <td>Dev Forum Posts</td>
            </tr>
        </tbody>
    </table>

    <hr>

    {# a better api #}
    <h4 id="raelys">A better API for lodestone data</h4>
    <p>
        Please consider checking out <a href="https://github.com/mattantonelli/lodestone/wiki">Raelys' Lodestone API</a>.
        It is the API that powers the <a href="http://na.lodestone.raelys.com/">Lodestone News</a> Discord service, and has
        much more consistent and cleaner data than the current XIVAPI endpoints, including start/end dates for maintenance times.
    </p>

    <hr>

    {# other #}

    {{ docs.api('/lodestone/news', '/lodestone/news') }}
    <p>
        Gets the latest news information from the homepage.
    </p>
    {{ docs.api('/lodestone/notices', '/lodestone/notices') }}
    <p>
        Gets the latest notices.
    </p>
    {{ docs.api('/lodestone/maintenance', '/lodestone/maintenance') }}
    <p>
        Gets the latest maintenance posts (Does not contain specific details such as times).
    </p>
    {{ docs.api('/lodestone/updates', '/lodestone/updates') }}
    <p>
        Get a list of update posts.
    </p>
    {{ docs.api('/lodestone/status', '/lodestone/status') }}
    <p>
        Get a list of status posts.
    </p>
    {{ docs.api('/lodestone/worldstatus', '/lodestone/worldstatus') }}
    <p>
        Get world status information on the FFXIV Servers.
    </p>
    {{ docs.api('/lodestone/devblog', '/lodestone/devblog') }}
    <p>
        Get the latest Developer Blog information, this is pulled from an XML feed.
    </p>
    {{ docs.api('/lodestone/devposts', '/lodestone/devposts') }}
    <p>
        Get the latest Dev posts from the official forums.
    </p>
    {{ docs.api('/lodestone/deepdungeon', '/lodestone/deepdungeon') }}
    <p>
        This provides the Deep Dungeon: Palace of the Dead rankings. The params you use are the exact same ones
        lodestone uses with the exception of the hash'd job class, instead use the abbreviations. eg: <code>subtype=drg</code> for Dragoon class.
    </p>
    <p>
        You can find more at: <a href="https://eu.finalfantasyxiv.com/lodestone/ranking/deepdungeon/">https://eu.finalfantasyxiv.com/lodestone/ranking/deepdungeon/</a>
    </p>

    {{ docs.api('/lodestone/HeavenOnHigh', '/lodestone/HeavenOnHigh') }}
    <p>
        This provides the Deep Dungeon: Heaven On High rankings. The params you use are the exact same ones
        lodestone uses with the exception of the hash'd job class, instead use the abbreviations. eg: <code>subtype=drg</code> for Dragoon class.
    </p>
    <p>
        You can find more at: <a href="https://eu.finalfantasyxiv.com/lodestone/ranking/deepdungeon/">https://eu.finalfantasyxiv.com/lodestone/ranking/deepdungeon/</a>
    </p>

    {{ docs.api('/lodestone/feasts', '/lodestone/feasts') }}
    <p>
        Get information on Feasts Ranking Leaderboards. If the current season is not active it will be empty. The params are the same
        as those on Lodestones with Seasons being accessiable as a param
    </p>
    <p>
        You can find more parameters on the feast page:
        <a href="https://eu.finalfantasyxiv.com/lodestone/ranking/thefeast/">https://eu.finalfantasyxiv.com/lodestone/ranking/thefeast/</a>
    </p>
    <table class="param-table">
        <thead>
        <tr>
            <th width="25%">Param</th>
            <th width="75%">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>season</td>
            <td>The season to parse. (Note, there may be some issues with low seasons prior to season 6. Untested).</td>
        </tr>
        </tbody>
    </table>

{% endblock %}
