{% extends "docs/index.html.twig"  %}
{% import "docs/macros.html.twig" as docs %}
{% set section = 12 %}

{% block doc %}

    <h1>PVP Team</h1>
    <p>Search and retrieve PVP Team data from The Lodestone.</p>

    <br>

    {{ docs.lodestoneErrors() }}

    <br><br>

    {# Search #}
    {{ docs.api('/pvpteam/search', '/pvpteam/search?name=[name]&server=[server]') }}

    {{ docs.commonParamsSearch() }}

    {{ docs.gap() }}

    {# GET #}
    {{ docs.api('/pvpteam/[lodestone_id]', '/pvpteam/8e0bcac3c1380c9b08f104aab4c9605dfd846a1b') }}

{% endblock %}
