{% extends "docs/index.html.twig"  %}
{% import "docs/macros.html.twig" as docs %}
{% set section = 12 %}

{% block doc %}

    <h1>PVP Team</h1>
    <p>Search and retrieve PVP Team data from The Lodestone.</p>

    {{ docs.gap() }}

    {# Search #}
    {{ docs.api('/pvpteam/search', '/pvpteam/search?name=[name]&server=[server]') }}
    <p>
        Search for pvp team on The Lodestone. This parses the lodestone in real time so it will be
        slow for uncached responses. All search queries are cached for 1 hour. This does not search XIVAPI
        so pvp team found may not be on the service and will be added when requested by their specified
        lodestone ID.
    </p>

    {{ docs.commonParamsSearch() }}

    {{ docs.gap() }}

    {# GET #}
    {{ docs.api('/pvpteam/[lodestone_id]', '/pvpteam/8e0bcac3c1380c9b08f104aab4c9605dfd846a1b') }}
    <p>
        Get PVP Team data, due to the nature of availability on the service this
        endpoint will return either populated data or nothing, you will have to check the `Info`
        response to see the current state.
    </p>

{% endblock %}
