{% extends "docs/index.html.twig"  %}
{% import "docs/macros.html.twig" as docs %}

{% block doc %}

    <h1>Welcome</h1>

    <p>
        XIVAPI provides a massive amount of FINAL FANTASY XIV game data in a JSON format via
        a REST API. You can fetch information on all sorts of game content that has been discovered and
        mapped in the SaintCoinach Schema. It also provides Character, Free Company, Linkshell,
        and PVP Team information from the Lodestone!
    </p>

    <h2 id="discord">Discord</h2>

    <p>
        Join our small group of passionate developers, talk about your ideas for building FFXIV apps! The XIVAPI
        discord is for dev talk, datamining and all things FFXIV.
    </p>
    <p>
        Jump into the discord:
        <a href="{{ app.request.getSchemeAndHttpHost() }}/discord" target="_blank">{{ app.request.getSchemeAndHttpHost() }}/discord</a>
    </p>

    <hr>

    <h1 id="patreon">Patreon Support!</h1>
    <p>
        By contributing a small amount every month you support development on <strong>XIVAPI</strong>, recognition on discord and appreciation from the devs heart!
    </p>
    <p>
        <a href="https://www.patreon.com/bePatron?u=13230932" target="_blank">
            <img src="https://c5.patreon.com/external/logo/become_a_patron_button.png">
        </a>
    </p>

    <hr>

    {# ENVIRONMENTS #}
    <h2>API Environments</h2>
    <table>
        <thead>
            <tr>
                <th>Production</th>
                <th>Staging</th>
                <th>Local</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>https://xivapi.com</code></td>
                <td><code>https://staging.xivapi.com</code></td>
                <td><code>http://xivapi.local</code></td>
            </tr>
        </tbody>
    </table>

    {# Https #}
    <p>
        Please always use <code>https</code> when accessing the API.
    </p>

    <br><br>

    {# Keeping up to date #}
    <h1 id="update">Keeping up to date</h1>
    <p>
        The API is driven directly from the game files. All the data found is 99% raw data, unmodified
        from the game source. Custom changes are very limited. It is important to remember that the structure
        or even the location of data can change anytime there is an FFXIV Patch
    </p>
    <p>
        <strong>It is your responsibility to maintain your usage of the API, including any data changes or
        updates to XIVAPI. Much care is taken to avoid breaking-changes however these can happen. Please
        ensure you're part of the Discord and following updates happening to the site, especially on FFXIV Patch Days.</strong>
    </p>


    <br><br>

    {# API Keys #}
    <h1 id="api-access">API Access</h1>

    <p>
        The API can be fully accessed at anytime by hitting any of the desired endpoints. There are two
        methods of <strong>rate-limiting</strong> which are based on: <strong>Client IP</strong> or <strong>API key</strong>,
        for frontend applications it is recommended to not use an API key and your users will be rate limited individually.
        If you are using XIVAPI server side (thus have a static IP) you should use your API key with all requests.
    </p>

    <p>
        To get your key, login via Discord and access
        <a href="{{ path('account') }}">Dev Account</a> at the top.
    </p>

    <p>
        The rate limit values are as follows:
    </p>

    <table>
        <thead>
            <tr>
                <th>API Key</th>
                <th>Client IP</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ max_rate_limit_key }} / req / sec (*)</td>
                <td>{{ max_rate_limit_global }} / req / sec</td>
            </tr>
            <tr>
                <td colspan="2">Lodestone endpoints are limited to 1/second. Lodestone has its own rate limit that is out of XIVAPI's control, you can read more about that on their relative documentation pages.</td>
            </tr>
        </tbody>
    </table>
    <small>
        * Accounts have individually set rate limits and may change based on usage or requirements.
    </small>

    <div class="note">
        <strong>Due Diligence</strong>
        <br>
        Just because you can hit the API for X requests a second every second of the day; does not mean
        that you should. The rate-limit is intended to provide a fair amount of burst requests to each
        user. The API is used by many fellow FFXIV developers and it is expected of you to be reasonable
        about your usage and consider how often you really need to hit the site as well as if it's
        possible to cache/preload data.
        <br><br>
        Game Content is very static and real-time data (e.g. Characters) makes requests directly to the Lodestone.
        Be wise with regards to your usage.
    </div>

    <br/>

    <div class="note">
        <h6>Automated Bans Notice</h6>

        XIVAPI will automatically ban request sources if they reach a high threshold. This lasts for 1 hour, this is very obvious
        to the creators of the API so if you hit this, know we're watching and we may perma ban either a request source or API key.

        <br/><br/>

        <small style="margin-bottom: 0;">
            <strong>Note:</strong> XIVAPI does not keep a record of IPs and usage of them are SHA1 hashed in memory.
        </small>
    </div>



    <p>
        If you use an API key then the request IP is no longer factored into rate limit checks.
        You will also gain the benefit of Google Tracking and a higher rate limit. If your individual rate limit
        is not enough then hop onto the Discord and we can look into it! Before doing this have a consider
        what you're trying to achieve and if you can optimise your code.
    </p>

    <br><br>

    <h4>Using your key</h4>

    <p>
        Provide your key to the query param: <code>private_key</code>
    </p>

    <code class="box">
        https://xivapi.com/item/1675?<em>columns=Name</em>&<em>private_key=[your_key]</em>
    </code>

    <p>You can also pass it as a JSON payload</p>
    {% include 'docs/pages/code/example_apikey.html.twig' %}

    <hr>

    <h2 id="getting-started">Getting Started</h2>

    <p>
        Basic curl request:
    </p>

    <code class="box">curl {{ app.request.getSchemeAndHttpHost() }}/item/1675</code>

    <br><br>

    <h4>Community Driven Libraries</h4>

    <table>
        <thead>
            <tr>
                <th width="30%">Language</th>
                <th>Github</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>PHP</td>
                <td><a href="https://github.com/xivapi/xivapi-php">https://github.com/xivapi/xivapi-php</a></td>
            </tr>
            <tr>
                <td>Python</td>
                <td><a href="https://github.com/xivapi/xivapi.py">https://github.com/xivapi/xivapi.py</a></td>
            </tr>
            <tr>
                <td>JavaScript</td>
                <td><a href="https://github.com/xivapi/xivapi-js">https://github.com/xivapi/xivapi-js</a></td>
            </tr>
            <tr>
                <td>Angular Client</td>
                <td><a href="https://github.com/xivapi/angular-client">https://github.com/xivapi/angular-client</a></td>
            </tr>
            <tr>
                <td>Ruby</td>
                <td><a href="https://github.com/xivapi/xivapi-ruby">https://github.com/xivapi/xivapi-ruby</a></td>
            </tr>
            <tr>
                <td>Go</td>
                <td><a href="https://github.com/xivapi/xivapi-go">https://github.com/xivapi/xivapi-go</a></td>
            </tr>
        </tbody>
    </table>

    <br><br>

    <h4>Examples</h4>

    <h2>PHP</h2>
    {% include 'docs/pages/code/example_php.html.twig' %}

    <h2>Python</h2>
    {% include 'docs/pages/code/example_python.html.twig' %}

    <h2>Javascript</h2>
    {% include 'docs/pages/code/example_javascript.html.twig' %}

    <h2>JQuery</h2>
    {% include 'docs/pages/code/example_jquery.html.twig' %}

    <h2>C#</h2>
    {% include 'docs/pages/code/example_csharp.html.twig' %}

    <br><br>

    {# Open Source #}
    <h2>Open Source!</h2>
    <p>All of XIVAPI is open source, go nuts!</p>
    <p>
        <strong>Github</strong>
        <a href="https://github.com/xivapi/xivapi.com">xivapi/xivapi.com</a>
    </p>

    <br><br>

    {# Third party tools #}
    <h2>Saint Coinach</h2>
    <p><a href="https://github.com/ufx/SaintCoinach">https://github.com/ufx/SaintCoinach</a></p>
    <p>
        SaintCoinach is a tool that allows you to extract data from the FFXIV Game files, it can provide you with
        CSV data, Icons and Maps. It is very useful if you wish to build a FFXIV fan site or application!
    </p>

    <p><a href="https://github.com/ufx/SaintCoinach/blob/master/SaintCoinach/ex.json">https://github.com/ufx/SaintCoinach/blob/master/SaintCoinach/ex.json</a></p>
    <p>
        The schema is a huge JSON file that describes the EXD files found in
        the FFXIV game files. Many community members take time to datamine
        and understand the way the EXD files are mapped and
        this file helps describe it in a universal format.
    </p>

{% endblock %}
