{% set states = {
    1: '(UPDATING) Normal Queue Priority',
    2: '(NOT-UPDATING) NPC Vendor Items',
    3: 'Never Sold',
    4: '(NOT-UPDATING) Low Level',
    5: 'Over max time'
} %}
<style>
    html {
        font-family: Arial;
        font-size: 16px;
    }
</style>
<div style="padding: 50px 100px;">

    {% for state, items in tracked_items %}
        <h2 style="color: #b41a09;">State: {{ states[state] }} - Items: {{ items|length|number_format }}</h2>

        <table style="width: 1500px;">
            <thead>
                <tr>
                    <th>Queue</th>
                    <th>Item ID</th>
                    <th width="25%">Name</th>
                    <th width="20%">Search Cat</th>
                    <th width="20%">Kind</th>
                    <th>Level</th>
                    <th>ItemLevel</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.Queue }}</td>
                    <td>{{ item.ID }}</td>
                    <td><strong>{{ item.Name }}</strong></td>
                    <td>{{ item.ItemSearchCategory }}</td>
                    <td>{{ item.ItemKind }}</td>
                    <td>{{ item.LevelEquip }}</td>
                    <td>{{ item.LevelItem }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br><hr><br>

    {% endfor %}

</div>
