{% set page = page is defined ? page : 'home' %}
<!DOCTYPE html>
<html class="page-{{ page }}">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125096878-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{ env("SITE_CONFIG_GOOGLE_ANALYTICS") }}');
        </script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" CONTENT="A FINAL FANTASY XIV: Online REST API - Game data, characters, free companies, linkshells, lodestone, markets & maps.">
        <meta name="google-site-verification" content="nXXSlEjkDKqCflD4Xiqgb1dPkayQqlUtHkvYpmodpkE" />
        <meta name="audience" content="Developers, Gamers, Awesome People">
        <meta property="og:title" content="XIVAPI">
        <meta property="og:description" content="A FINAL FANTASY XIV: Online REST API - Game data, characters, free companies, linkshells, lodestone, markets & maps.">
        <meta name="theme-color" content="#bf1eff">
        <meta property="og:image" content="https://cdn.discordapp.com/icons/474518001173921794/8aa1e424c3817ea4cadfbfc999819e0a.png">

        <title>{% block title %}XIVAPI{% endblock %}</title>

        <link rel="shortcut icon" type="image/png" href="{{ favIcon() }}">
        <link rel="search" type="application/opensearchdescription+xml" title="XIVAPI" href="/opensearch.xml">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:500,700" rel="stylesheet">
        <link rel="stylesheet" href="/ui/vis.css?v={{ siteVersion().hash }}">
        <script src="/ui/app.jq_331.js?v={{ siteVersion().hash }}"></script>
        <script src="/ui/app.js?v={{ siteVersion().hash }}"></script>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'header.html.twig' %}
        <main>{% block body %}{% endblock %}</main>
        {% block javascripts %}{% endblock %}
    </body>
</html>
