{% extends "base.html.twig"  %}

{% block title %}XIVAPI - A FINAL FANTASY XIV: Online REST API{% endblock %}

{% set homeCodeBlock %}
<pre>{
    "ClassJobCategory": {
        "Name": <span>"PLD"</span>
    },
    "Description": <span>"One of the fabled relic weapons."</span>,
    "ID": <span>1675</span>,
    "LevelItem": <span>80</span>,
    "Name": <span>"Curtana"</span>
}</pre>
{% endset %}

{% block body %}

<div class="home-top">
    <div class="heading">
        <h1>A FINAL FANTASY XIV: Online REST API</h1>
        <div style="font-size: 20px;">Throwing out <strong id="served" style="color: #f1ff35;">a lot</strong> requests in the past day.</div>
    </div>

    <div class="fake-browser">
        <div>
            <span>
                <em></em>
                <em></em>
                <em></em>
            </span>
            <span>xivapi.com/item/1675?<em>columns=</em>ID,Name,Description,LevelItem,ClassJobCategory.Name</span>
        </div>
        <div>
            <div>{{ homeCodeBlock }}</div>
        </div>
    </div>

    <div class="home-top-shadow"></div>
</div>

<div class="mid-section">
    <div>
        <div>
            <div>
                <img src="/img-svg/1.svg">
            </div>
            <div>
                <h2>REST API</h2>
                <p>v{{ siteVersion().version }}</p>
                <a href="{{ path('docs') }}" class="btn btn-lg btn-primary">Documentation</a>
            </div>
        </div>
        <div>
            <div>
                <img src="/img-svg/2.svg">
            </div>
            <div>
                <h2>Developer Access</h2>
                <p>Expand your powers</p>
                <a href="{{ path('account') }}" class="btn btn-lg btn-primary">Manage Account</a>
            </div>
        </div>
        <div>
            <div>
                <img src="/img-svg/3.svg">
            </div>
            <div>
                <h2>Open Source SDKs</h2>
                <p>Libraries, tools &amp; research</p>
                <a href="https://github.com/xivapi" class="btn btn-lg btn-primary">Github.com</a>
            </div>
        </div>
    </div>
</div>

<div class="low-section">
    <div class="section-two">
        <div>
            <h3>Code your way</h3>
            <p>
                The API provides a boat load of FINAL FANTASY XIV data
                in the common format JSON.
            </p>
            <p>
                PHP, JavaScript, C#, Go, Python or if you're a Scala mage, the API is super accessible.
            </p>
        </div>
        <div>
            <div class="home-code">
                <img src="/ui/code/javascript.png">
            </div>
        </div>
    </div>
</div>

<div class="paymysub-section">
    <div>
        <div>
            <img src="/discord/name_purple.png" height="52">
            <h3>Community Driven</h3>
            <p>
                The FFXIV API is 100% community driven, <br> whatever you
                need the API is there for you. <br>
            </p>
            <small>Unless you need a White Mage.</small>
            <p>
                <a href="https://discord.gg/MFFVHWC" class="btn btn-lg btn-primary">Join Discord</a>
            </p>
        </div>
        <div>
            <div align="center">
                <a href="https://www.patreon.com/bePatron?u=13230932" target="_blank">
                    <img src="https://c5.patreon.com/external/logo/become_a_patron_button.png">
                </a>
            </div>
            <h3>Patreon Funded</h3>
            <p>Consider becoming a patron and supporting XIVAPI + Mogboard.com</p>
            <p>Your contribution improves features and the reliance of the API!</p>
            <small>Including Reddit Hug-Of-Death</small>

            <p>
                <a href="https://www.patreon.com/bePatron?u=13230932" target="_blank">Become a Patron</a>
            </p>
        </div>
    </div>
</div>

<footer>
    <div>
        <div>
            v{{ siteVersion().version }} ({{ siteVersion().hash_min }}) - {{ siteVersion().commits|number_format }} changes - Deployed {{ siteVersion().time }} <br>
            ALL FINAL FANTASY XIV CONTENT IS PROPERTY OF SQUARE ENIX CO., LTD <br>

            {% if auth.user %}
                <a href="{{ path('account_logout') }}" class="btn-logout">LOGOUT</a>
            {% endif %}
        </div>
    </div>
</footer>
{% endblock %}

{% block javascripts %}
<script>
    var field = $("#served");

    function getRequestStats() {
        $.ajax({
            url: "/requests/stats?r=" + Math.floor(Math.random() * 99999999),
            success: function(response) {
                var amount = String(response.tfhour).replace(/(.)(?=(\d{3})+$)/g,'$1,');
                field.text(amount);

                // self call
                setTimeout(function() {
                    getRequestStats();
                }, 2000)
            }
        })
    }

    // run
    getRequestStats();

</script>
{% endblock %}
