{% extends "base.html.twig"  %}
{% set page = 'docs' %}
{% set section = section is defined ? section : 1 %}
{% block title %}{{ page_name ?: 'Welcome' }} - XIVAPI{% endblock %}

{% block body %}
<div class="docs">
    <div>
        <aside>
            <div class="sidebar">
                <div class="docs-top">
                    <h3>documentation</h3>
                    <small>v{{ siteVersion().version }} - {{ environment() == 'staging' ? 'Staging' : 'Production' }}</small>
                </div>

                <div class="docs-links">
                    <a href="{{ path('docs_page', { page: 'Welcome' }) }}" class="{{ section != 1 ?: 'active' }}">Welcome</a>
                    <div class="sub-nav">
                        <a href="{{ path('docs_page', { page: 'Welcome' }) }}#discord" class="{{ section != 1 ?: 'active' }}">Discord</a>
                        <a href="{{ path('docs_page', { page: 'Welcome' }) }}#patreon" class="{{ section != 1 ?: 'active' }}">Patreon</a>
                        <a href="{{ path('docs_page', { page: 'Welcome' }) }}#api-access" class="{{ section != 1 ?: 'active' }}">API Access (keys)</a>
                        <a href="{{ path('docs_page', { page: 'Welcome' }) }}#getting-started" class="{{ section != 1 ?: 'active' }}">Getting Started</a>
                    </div>

                    <a href="{{ path('docs_page', { page: 'Common-Features' }) }}" class="{{ section != 4 ?: 'active' }}">Common Features</a>
                    <div class="sub-nav">
                        <a href="{{ path('docs_page', { page: 'Common-Features' }) }}#language">Languages</a>
                        <a href="{{ path('docs_page', { page: 'Common-Features' }) }}#pretty">Pretty Print</a>
                        <a href="{{ path('docs_page', { page: 'Common-Features' }) }}#snake_case">snake_case</a>
                        <a href="{{ path('docs_page', { page: 'Common-Features' }) }}#columns">Selective Columns</a>
                        <a href="{{ path('docs_page', { page: 'Common-Features' }) }}#exceptions">Errors/Exceptions</a>
                    </div>
                </div>

                <div class="docs-links">
                    <span>API</span>

                    <a href="{{ path('docs_page', { page: 'Search' }) }}" class="{{ section != 7 ?: 'active' }}">Search</a>
                    <div class="sub-nav">
                        <a href="{{ path('docs_page', { page: 'Search' }) }}#search">Search</a>
                        <a href="{{ path('docs_page', { page: 'Search' }) }}#filters">Filters</a>
                        <a href="{{ path('docs_page', { page: 'Search' }) }}#lore">Lore</a>
                        <a href="{{ path('docs_page', { page: 'Search' }) }}#advanced">Advanced DQL</a>
                    </div>

                    <a href="{{ path('docs_page', { page: 'Game-Data' }) }}" class="{{ section != 8 ?: 'active' }}">Game Data</a>
                    <div class="sub-nav">
                        <a href="{{ path('docs_page', { page: 'Game-Data' }) }}#content">Game Content</a>
                        <a href="{{ path('docs_page', { page: 'Game-Data' }) }}#lists">Lists</a>
                        <a href="{{ path('docs_page', { page: 'Game-Data' }) }}#data">Data</a>
                        <a href="{{ path('docs_page', { page: 'Game-Data' }) }}#servers">Servers</a>
                        <a href="{{ path('docs_page', { page: 'Game-Data' }) }}#data-center">Data-Center</a>
                    </div>

                    <a href="{{ path('docs_page', { page: 'Character' }) }}" class="{{ section != 9 ?: 'active' }}">Character</a>
                    <div class="sub-nav">
                        <a href="{{ path('docs_page', { page: 'Character' }) }}#search">Search</a>
                        <a href="{{ path('docs_page', { page: 'Character' }) }}#character">Profile</a>
                    </div>

                    <a href="{{ path('docs_page', { page: 'Free-Company' }) }}" class="{{ section != 10 ?: 'active' }}">Free Company</a>
                    <div class="sub-nav">
                        <a href="{{ path('docs_page', { page: 'Free-Company' }) }}#search">Search</a>
                        <a href="{{ path('docs_page', { page: 'Free-Company' }) }}#profile">Profile</a>
                    </div>

                    <a href="{{ path('docs_page', { page: 'Linkshell' }) }}" class="{{ section != 11 ?: 'active' }}">Linkshell</a>
                    <div class="sub-nav">
                        <a href="{{ path('docs_page', { page: 'Linkshell' }) }}#search">Search</a>
                        <a href="{{ path('docs_page', { page: 'Linkshell' }) }}#profile">Profile</a>
                    </div>

                    <a href="{{ path('docs_page', { page: 'PVP-Team' }) }}" class="{{ section != 12 ?: 'active' }}">PVP Team</a>
                    <div class="sub-nav">
                        <a href="{{ path('docs_page', { page: 'PVP-Team' }) }}#search">Search</a>
                        <a href="{{ path('docs_page', { page: 'PVP-Team' }) }}#profile">Profile</a>
                    </div>

                    {# <a href="{{ path('docs_page', { page: 'Maps' }) }}" class="{{ section != 15 ?: 'active' }}">Maps</a> #}
                    <a href="{{ path('docs_page', { page: 'Lodestone' }) }}" class="{{ section != 13 ?: 'active' }}">Lodestone</a>
                    {# <a href="{{ path('docs_page', { page: 'Patch-List' }) }}" class="{{ section != 16 ?: 'active' }}">Patch List</a> #}
                    <a href="{{ path('docs_page', { page: 'Icons' }) }}" class="{{ section != 19 ?: 'active' }}">Icons</a>
                    {# <a href="{{ path('docs_page', { page: 'Mappy-Data' }) }}" class="{{ section != 17 ?: 'active' }}">Mappy Data</a> #}
                </div>
            </div>
        </aside>
    </div>
    <div>
        <main>
            {% block doc %}{% endblock %}
        </main>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="/js/jquery.sticky-sidebar.min.js"></script>
    <script>$('.sidebar').stickySidebar({ topSpacing: 60, bottomSpacing: 60 });</script>
{% endblock %}
